<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        <%= compilation.assets[htmlWebpackPlugin.files.js[0].substr(htmlWebpackPlugin.files.publicPath.length).split('?')[0]].source() %>
    </script>
    <!-- <script src="<%= htmlWebpackPlugin.files.js %>"></script> -->
</head>

<body>
    <div class="layer">
        this is a layer
        <div> this is a div</div>
    </div>
</body>

</html>